.item-header {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: 1.1rem;
  font-weight: 700;
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  .paid-by {
    font-size: 0.8rem;
    font-weight: normal;
  }
  .name {
    font-weight: bold;
    font-size: 0.9rem;
  }
}

.sharedBy-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-self-right {
  justify-self: right;
}
