<form [formGroup]="form">
  <div class="item-header">
    <div class="description">
      <editable (save)="updateItemModel('description')">
        <ng-template viewMode>
          {{ item.description }}
        </ng-template>
        <ng-template editMode>
          <input type="text" pInputText formControlName="description" />
        </ng-template>
      </editable>
      <button
        pButton
        icon="pi pi-trash"
        class="p-button-text p-button-sm p-button-secondary"
        style="padding: 0; width: 1.5rem"
        (click)="this.deleteItem.emit({ item: this.item, event: $event })"
      ></button>
    </div>
    <div class="price">
      <editable (save)="updateItemModel('cost')">
        <ng-template viewMode> £{{ item.cost | number: '1.2-2' }} </ng-template>
        <ng-template editMode>
          <p-inputNumber
            formControlName="cost"
            mode="currency"
            currency="GBP"
            type="number"
          ></p-inputNumber>
          <!-- TODO Need to change above to the calculable input in add-item component -->
        </ng-template>
      </editable>
      <div class="paid-by">
        paid by
        <span class="name">
          {{ item.paidBy }}
        </span>
      </div>
    </div>
  </div>
  <div class="sharedBy-grid" formArrayName="sharedBy">
    <div
      class="p-mt-1 p-mb-1 p-d-flex p-ai-center"
      [ngClass]="{ 'justify-self-right': j % 2 === 1 }"
      *ngFor="let sharedBy of sharedByForm.controls; let j = index"
      [formGroupName]="j"
    >
      <label class="p-mr-2" *ngIf="j % 2 === 1">{{
        sharedBy.value.friend
      }}</label>
      <p-inputSwitch
        pTooltip="Can't edit the original payer of the item"
        [tooltipDisabled]="sharedBy.value.friend !== item.paidBy"
        tooltipPosition="top"
        formControlName="settled"
      ></p-inputSwitch>
      <label class="p-ml-2" *ngIf="j % 2 === 0">{{
        sharedBy.value.friend
      }}</label>
    </div>
  </div>
</form>
<p-divider></p-divider>
