.header {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  background: var(--surface-0);
  overflow: auto;
  padding: 0.8rem;
  padding-top: 1.5rem;
  // TODO this will depend on the height of the part above the form
  height: calc(100vh - 8rem);
  max-height: calc(100vh - 8rem);
  border-top-left-radius: 1.8rem;
  // border-top-right-radius: 1.3rem;
}

.bill-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.item-header {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: 1.1rem;
  font-weight: 700;
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  .paid-by {
    font-size: 0.8rem;
    font-weight: normal;
  }
  .name {
    font-weight: bold;
    font-size: 0.9rem;
  }
}

.sharedBy-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-self-right {
  justify-self: right;
}
