<ng-container *ngIf="billWithItems$ | async as billWithItems">
  <div class="header">
    <span class="bill-name">
      {{ billWithItems.name }}
    </span>
    <p-splitButton
      label="Add item"
      icon="pi pi-plus"
      [model]="menuItems"
      (onClick)="openAddItemDialog()"
      appendTo="body"
    ></p-splitButton>
  </div>

  <div class="items">
    <bc-item
      *ngFor="let item of billWithItems.items; trackBy: itemTrackBy"
      [item]="item"
      (itemChange)="
        itemsChange$.next({ item: $event, billId: billWithItems.id })
      "
      (deleteItem)="
        deleteItem({
          item: $event.item,
          event: $event.event,
          billId: billWithItems.id
        })
      "
    >
    </bc-item>
  </div>

  <p-dialog
    header="Add Item"
    [(visible)]="displayAddItemDialog"
    [style]="{ width: '100%' }"
    [modal]="true"
    [dismissableMask]="true"
  >
    <bc-add-item
      [users]="billWithItems.friends"
      (addItem)="
        billService.addItem($event, billWithItems.id); closeAddItemDialog()
      "
    ></bc-add-item>
  </p-dialog>

  <!-- <p-dialog
    header="Add Users and Editors"
    [(visible)]="displayAddUsersDialog"
    [style]="{ width: '100%' }"
    [modal]="true"
    [dismissableMask]="true"
  >
    <bc-add-users-editors
      (addUsersEditors)="
        addUsersEditors.emit({ usersAndEditors: $event, bill: bill });
        closeAddUsersDialog()
      "
    ></bc-add-users-editors>
  </p-dialog> -->

  <!-- <p-dialog
    header="Calculate"
    [(visible)]="displayCalculateDialog"
    [style]="{ width: '100%' }"
    [modal]="true"
    [dismissableMask]="true"
  >
    <bc-calculate *ngIf="displayCalculateDialog" [bill]="bill"></bc-calculate>
  </p-dialog> -->

  <p-confirmPopup></p-confirmPopup>
</ng-container>
